.column-mdate {
	width:150px;
}
.column-premissions {
	width:110px;
}
.column-size {
	width:90px;
}
.CodeMirror-line-numbers {
    width: 2.2em;
    color: #aaa;
    background-color: #eee;
    text-align: right;
    padding-right: .3em;
    font-size: 10pt;
    font-family: monospace;
    padding-top: .4em;
}
